<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Textshot.it</title>
	<script src="textshot.js"></script>
	<link rel="stylesheet" href="stylesheets/main.css">
	<script src="//use.typekit.net/nvr6zne.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<nav>
		<div class="wrap">
			<ul class="navlogo">
				<li>textshot.it</li>
			</ul>
			<ul class="navlinks">
				<% if current_user %>
				<li>
					@<%= current_user[:nickname] %>
				</li>
				<li>
					<img src="<%= current_user[:img] %>" alt="">
				</li>
				<li>
					<a href="/signout">Sign out</a>
				</li>
				<% else %>
				<li>
					<a href="/auth/twitter">Sign in with Twitter</a>
				</li>					
				<% end %>
			</ul>	
		</div>
	</nav>

	<div class="wrap">
		<div class="quote_input">
			<textarea name="quote_text" id="quote_text" placeholder="Quote"></textarea>
			<input type="text" id="quote_title" placeholder="Quote source title">
			<input type="text" id="quote_source" placeholder="Quote source publication">
		</div>

		<div class="tweet_wrap">
			<form action="/post_tweet" method="post" enctype="multipart/form-data">
				<div class="tweet_input">
					<textarea name="tweet_input_composer" id="tweet_input_composer" cols="30" rows="3" placeholder="Your tweet"></textarea>
					<div id="tweet_input_count">116</div>
					<% if current_user %>
					<input type="submit" id="tweet_input_btn" value="Tweet textshot">
					<% else %>
					<a href="/auth/twitter" id="tweet_input_signin">Sign in with Twitter to tweet this textshot</a>
					<% end %>
				</div>

				<canvas id="textshot"></canvas>	
				<input type="hidden" id="tweet_input_img" name="tweet_input_img">
			</form>
		</div>
			
	</div>	
	
</body>
</html>