<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Textshot.it</title>
	<script src="textshot.js"></script>
	<link rel="stylesheet" href="stylesheets/main.css">
	<script src="//use.typekit.net/nvr6zne.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<nav>
		<div class="wrap">
			<ul class="navlogo">
				<li>textshot.it</li>
			</ul>
			<ul class="navlinks">
				<% if current_user %>
				<li>
					@<%= current_user[:nickname] %>
				</li>
				<li>
					<img src="<%= current_user[:img] %>" alt="">
				</li>
				<li>
					<a href="/signout">Sign out</a>
				</li>
				<% else %>
				<li>
					<a href="/auth/twitter">Sign in with Twitter</a>
				</li>					
				<% end %>
			</ul>	
		</div>
	</nav>

	<div class="splash">
		<div class="wrap">
			<h2>A simple way to quote articles and share them on Twitter.</h2>
			<h3>For when 140 characters isn’t enough.</h3>

			<div class="splash_tweet">
				<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">.<a href="https://twitter.com/fmanjoo">@fmanjoo</a>: Today’s startups help the “1 percent live like their betters in the 0.1 percent.” <a href="http://t.co/PgKnoZlmkn">http://t.co/PgKnoZlmkn</a> <a href="http://t.co/EAGLnOd83a">pic.twitter.com/EAGLnOd83a</a></p>&mdash; Ryan Catalani (@magicofpi) <a href="https://twitter.com/magicofpi/status/601170194602565632">May 20, 2015</a></blockquote>
				<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		
		</div>
	</div>

	<div class="wrap main_wrap">
		<div class="quote_input">
			<textarea name="quote_text" id="quote_text" placeholder="Quote"></textarea>
			<input type="text" id="quote_title" placeholder="Quote source title">
			<input type="text" id="quote_source" placeholder="Quote source publication">
		</div>

		<div class="tweet_wrap">
			<form action="/post_tweet" method="post" enctype="multipart/form-data">
				<div class="tweet_input">
					<textarea name="tweet_input_composer" id="tweet_input_composer" cols="30" rows="3" placeholder="Your tweet"></textarea>
					<div id="tweet_input_count">116</div>
					<% if current_user %>
					<input type="submit" id="tweet_input_btn" value="Tweet textshot">
					<% else %>
					<a href="/auth/twitter" id="tweet_input_signin">Sign in with Twitter to tweet this textshot</a>
					<% end %>
				</div>

				<canvas id="textshot"></canvas>	
				<input type="hidden" id="tweet_input_img" name="tweet_input_img">
			</form>
		</div>
			
	</div>

	<footer>
		<div class="wrap">
			Textshot is 100% open-source.
		</div>
	</footer>
	
</body>
</html>