<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Textshot.it</title>
	<script src="textshot.js"></script>
	<link rel="stylesheet" href="stylesheets/main.css">
</head>
<body>
	<nav>
		<div class="wrap">
			<ul>
				<li class="navlogo">textshot.it</li>
				<li class="navuser">
					<% if current_user %>
						@<%= current_user[:nickname] %>
						<img src="<%= current_user[:img] %>" alt="">
						<a href="/signout">Sign out</a>
					<% else %>
						<a href="/auth/twitter">Sign in with Twitter</a>
					<% end %>
				</li>
			</ul>	
		</div>
	</nav>

	<div class="wrap">
		<div class="quote_input">
			<div class="col_50">
				<textarea name="quote_text" id="quote_text" cols="30" rows="10"></textarea>
			</div>
			<div class="col_50">
				<input type="text" id="quote_title" placeholder="Quote title">
				<input type="text" id="quote_source" placeholder="Quote source">
			</div>
		</div>

		<div class="tweet_input">
			<textarea name="tweet_input_composer" id="tweet_input_composer" cols="30" rows="3">
				
			</textarea>
			<div id="tweet_input_count">116</div>
			<a href="#" id="tweet_input_btn">Tweet</a>
		</div>
		

		<div class="textshot_wrap">
			<canvas id="textshot"></canvas>	
		</div>		
	</div>	
	
</body>
</html>