* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// texshot.it

$break_width: 768px;

@mixin clear {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}	
}

@mixin base_font {
	font: 14px/1.3em 'adelle-sans', 'Proxima Nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	@include base_font;	
	background: #F7F7F7;
}

.wrap {
	width: 95%;
	margin: 0 auto;
	@media(min-width: 1000px) {
		width: 1000px;
	}
}

.col_50 {
	width: 100%;
	margin: 0 auto;
	@media(min-width: $break_width) {
		width: 49%;
		float: left;
		&:nth-child(2) {
			margin-left: 2%;
		}
	}
}

nav {
	@include clear;
	background: #262A2D;
	padding: 12px 0 10px;
	color: #fff;
	a {
		&:link, &:visited {
			color: #C5DCF3;
		}
		&:hover, &:active {
			color: #CEE6FE;
		}
	}
	li {
		display: block;
		float: left;
		height: 18px;
	}
	ul.navlogo {
		font-weight: bold;
		font-size: 1.2em;
		letter-spacing: .03em;
	}
	ul.navlinks {
		float: right;
		li {
			margin-left: 8px;		
		}
	}
	img {
		height: 18px;
		width: 18px;
	}
}


textarea, input {
	@include base_font;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.75em;
}

.main_wrap {
	@include clear;
	margin-top: 1em;
}

.quote_input {
	@include clear;
	textarea {
		height: 150px;
		margin-bottom: 10px;
	}
	input[type=text] {
		margin-bottom: 10px;
	}
	.quote_styles {
		@include clear;
		input[type=radio] {
			display: none;
			&:checked + .quote_style {
				opacity: 1;
			}
		}
		label {
			display: block;
			float: left;
			width: 31%;
			margin-left: 3.5%;
			&:first-child {
				margin-left: 0;
			}
			&:hover {
				cursor: pointer;
			}
		}
		.quote_style {
			display: block;
			opacity: 0.25;
			width: 100%;
			background: #ccc;
			border: 1px solid #bbb;
			border-radius: 5px;
			text-align: center;
			height: 60px;
			line-height: 60px;
		}
		label[for=quote_style_sepia] .quote_style {
			background: #FCFAEC;
			border-color: #EEECD8;
			color: #5A594F;
			font-family: Georgia;
		}
		label[for=quote_style_light] .quote_style {
			background: #fff;
			border-color: #ddd;
			color: #3E3E3E;
			font-family: Georgia;
		}
		label[for=quote_style_dark] .quote_style {
			background: #333;
			border-color: #222;
			color: #eee;
			font-family: Georgia;
		}
	}
	@media(min-width: 768px) {
		width: 35%;
		float: left;
	}
}

.tweet_wrap {
	background: #fff;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	@media(min-width: 768px) {
		width: 63%;
		margin-left: 2%;
		margin-top: 0;
		float: left;
	}
	.tweet_input {
		@include clear;
		position: relative;
		margin-bottom: 10px;
		textarea {
			border: 1px solid #E6E9E9;
			margin-bottom: 5px;
		}
		#tweet_input_count {
			position: absolute;
			top: 5px;
			right: 5px;
			font-weight: bold;
			background: #fff;
		}
		#tweet_input_btn {
			background: #8898A7;
			color: #fff;
			text-shadow: 0px -1px darken(#8898A7, 20%);
			border-color: darken(#8898A7, 10%);
			display: inline-block;
			width: auto;
			&:hover {
				cursor: pointer;
				background: darken(#8898A7, 5%)
			}
		}
		#tweet_input_signin {
			@extend textarea;
			@extend #tweet_input_btn;
			text-decoration: none;
		}
	}
}

.splash {
	@include clear;
	background: #D1E3F8;
	padding: 1em 0 40px;
	h1 {
		font-size: 30px;
		line-height: 1.1em;
		text-rendering: optimizeLegibility;
		text-align: center;
		margin: 40px 0 20px;
		font-weight: bold;
	}
	h2 {
		font-size: 30px;
		line-height: 1.3em;
		text-rendering: optimizeLegibility;
		text-align: center;
		margin: 40px 0 20px;
		font-weight: 300;
	}
	h3 {
		font-size: 20px;
		line-height: 1.3em;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 40px;
	}
	a {
		&:link, &:visited {
			color: #5C6E8E;
			text-decoration: none;
			border-bottom: 2px solid #5C6E8E;
		}
		&:hover, &:active {
			color: #7C8FB1;
			border-bottom: 2px solid #7C8FB1;
		}
	}
	.img_center {
		width: 600px;
		max-width: 100%;
		margin: 0 auto 40px;
		display: block;
		border: 3px solid rgba(255,255,255,0.4);
	}
	.samples {
		@include clear;
		margin-top: 40px;
		img {
			display: block;
			border: 3px solid rgba(255,255,255,0.4);
			width: 100%;
			margin-bottom: 10px;
			@media(min-width: 768px) {
				width: 32.5%;
				margin-left: 1.25%;
				margin-bottom: 0;
				float: left;
			}
			&:first-child {
				margin-left: 0;
			}
		}
	}
	.textshot_bookmarklet {
		&:link, &:visited {
			border: 1px solid darken(#5C6E8E, 10%);
			padding: 0.1em 0.6em;
			margin: 0 0.3em;
			border-radius: 5px;
			text-decoration: none;
			background: #5C6E8E;
			color: #fff;
		}
		&:hover, &:active {
			background: #7C8FB1;
		}
	}
}

footer {
	background: #DFDFDF;
	margin-top: 40px;
	border-top: 1px solid #D2D2D2;
	padding: 20px 0;
	color: #595959;
	p {
		margin-bottom: 0.7em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		&:link, &:visited {
			color: #5C6E8E;
		}
		&:hover, &:active {
			color: #7C8FB1;
		}
	}
	.textshot_bookmarklet {
		&:link, &:visited {
			border: 1px solid #777;
			padding: 0.1em 0.6em;
			margin: 0 0.3em;
			border-radius: 5px;
			text-decoration: none;
			background: #888;
			color: #fff;
		}
		&:hover, &:active {
			background: #999;
		}
	}
}