* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// texshot.it

$break_width: 800px;

@mixin clear {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}	
}

@mixin base_font {
	font: 14px/1.3em sans-serif;
}

body {
	@include base_font;	
}

.wrap {
	width: 95%;
	margin: 0 auto;
	@media(min-width: $break_width) {
		width: 800px;
	}
}

.col_50 {
	width: 100%;
	margin: 0 auto;
	@media(min-width: $break_width) {
		width: 49%;
		float: left;
		&:nth-child(2) {
			margin-left: 2%;
		}
	}
}

nav {
	@include clear;
	li {
		display: inline-block;
		float: right;
	}
	.navlogo {
		float: left;
	}
	.navuser {
		img {
			height: 18px;
			width: 18px;
		}
	}
}


textarea, input[type=text] {
	@include base_font;
	width: 100%;
	border: 1px solid #ccc;
	padding: 0.75em;
}

.quote_input {
	@include clear;
	textarea {
		height: 92px;
	}
	input[type=text] {
		height: 41px;
		margin-bottom: 10px;
	}
}

.tweet_input {
	@include clear;
	position: relative;
	#tweet_input_count {
		position: absolute;
		top: 0;
		right: 0;
	}
	#tweet_input_btn {
		position: absolute;
		display: block;
		bottom: 0;
		right: 0;
	}
}